Screen {
    background: #12161e;
}
#intro {
    text-align: center;
    color: rgb(0, 87, 0);
    text-style: bold;
}

#message {
    text-align: center;
    text-style: bold;
}

HorizontalTiles {
    align: center middle;
    width: 100%;
    height: auto;
}

.tile {
    text-align: center;
    width: 9;
    height: 5;
    content-align: center middle;
    border: solid white;
}

.tile-green {
    color: rgb(0, 90, 0);
    text-style: bold;
    border: solid rgb(0, 90, 0);
}

.tile-yellow {
    color: #746831;
    text-style: bold;
    border: solid #746831;
}

.tile-gray {
    color: white;
    border: solid grey;
}

#credits {
    text-align: center;
    text-style: bold;
}